body {
    background-image: 
        url('../assets/images/ore-gray-1600.png'),
        url('../assets/images/elia-clerici-XIrIWKCQykg-unsplash.jpg');
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-size: 150vh, 100%;
    min-height: 50vh;
}

ul.topul {
    list-style: none;
    margin: 10px;
    text-align: center;
    li {
        display: inline;
        margin: 10px;
    }
}

h1.cvtitle {
    letter-spacing: 2em;
    text-align: center;
}

div.divbox {
    div.divcvtable {
        width: 170mm;

        dic.divcvtablerow {
            border-style: solid;
            border-color: black;
            border-width: 1px;
            margin: 1px;
            width: 170mm;
            margin-left: 20mm;
            display: table;
            align-items: center;
        }
        div.divtablecvtitle {
            margin: 0;
            padding: 1em;
            border-right-style: solid;
            border-color: black;
            border-width: 1px;
            width: 15%;
            display: table-cell;
        }

        div.divtablecvbody {
            display: table-cell;
            padding: 1em;
        }
    }
    div.divtable {
        border-style: solid;
        border-color: black;
        border-width: 1px;
        width: 170mm;
        display: flex;
        align-items: center;

        div.divtabletitle {
            margin: 0;
            padding: 1em;
            border-right-style: solid;
            border-color: black;
            border-width: 1px;
            width: 15%;
            display: block;
            word-wrap: normal;
            flex-basis: 5%;
            flex-grow: 1;
        }

        div.divtablebody {
            display: block;
            padding: 1em;
            width: 85%;
            flex-basis: 5%;
            flex-grow: 19;
        }
    }
}


@media only screen and (orientation: portrait) {
    body {
        background-size: 150vh, cover;
        background-position: right top, right bottom;
    }
}

@media (max-width: 576px) {
    body {
        background-size: 100vh, cover;
        background-position: right top;
    }
    img.logo {
        width: 100%;
    }
}
